.btn-gear{
  background-image: linear-gradient(to left,#333333,#dd1818 );
  border: none;
  background-size: 100%;
  transition: .5s;

  &:hover{
    background-size: 200%;
    color: #bdc3c7;
  }
}
.card{
  box-shadow: 3px 3px 5px #bdc3c7,
              -3px -3px 5px #bdc3c7;
}

.footer-einstein{
  display: flex;
  justify-content: space-around;


}

.web-developer{
  color: #2196f3;
}

.img-einstein{
  position: relative;
  width: 110%;
  border-radius: 10px;
  left: -17px;
  top: -10px;
}

.food-h5{
  color: #e91e63 !important;
}

.btn-food{
  background-color:#880E4f ;
  color: white;
  padding: 10px;
  width: 35%;
  border-radius: 0;
  transition: .5s;

  &:hover{
    color: #ccc;
  }
}

.img-comida{
  position: relative;
  width: 90%;
  border-radius: 10px;
  left: 15px;
  top: -10px;
}

.card-footer{
  display: flex;
  justify-content: space-around;

  .facebook{
    background-color:#3b5998;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px #3b5998;
   
    a i {
      color: white;
    }
    }

  
}

.card-footer .instagram{
 
    background-color: #db2f61;
    box-shadow: 0 0 10px #db2f61;
}

.card-footer .linkedin{
  background-color:#0e76a8 ;
  box-shadow: 0 0 10px #0e76a8;
}

.card-victor{
  border-radius: 10px;

  .img-victor{
    border-radius: 10px;
    box-shadow: 5px 5px 10px 3px #bdc3c7;
  }
}
